.news
{display:grid;
  grid-template-columns:1.1fr 1fr;align-items:center;
  padding:110px 0 120px}
.news-img {
  height: 450px;
  border-radius: 0 220px 220px 0;
  background-image: url("../../../tranh/tranhsonmai/NHUNGDUATRETRAU.jpg");
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
[dir="rtl"] .news-img{border-radius:160px 0 0 160px}
.news-body{padding:0 8%}
.news-body p{margin:24px 0 0 6px;font-size:17px}

@media (max-width:900px){
  .news{grid-template-columns:1fr;gap:40px}
  .news-img{width:85%}
}
